body{
    background-color: #151921;
    color: #fff;
    font-family: 'Open Sans';
}

.jumbotron{
    background: rgba(0, 0, 0, 0.2);
}

.jumbotron h1{
    font-weight: 700;
}

.slashes{
    color: orangered;
}

.blockTable{
    text-align: center;
    width: 80%;
    margin: auto;
}

h1{
    font-weight: 700;
}

.blockTable h1{
    color: orangered;
}

.homepageButton{
    background-color:  orangered;
    color: #fff;
}

.homepageButton a{
    color: #fff;
    text-decoration: none;
}